.mentors-slider-controls {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 0px !important; /* Ensure it moves further to the left */
  display: flex;
  flex-direction: row; /* Arrange buttons horizontally */
  z-index: 1;
}

.courses-slider-controls {
  position: left;
  bottom: 120px; /* Adjust as needed */
  left: 0px ; /* Ensure it moves further to the left */
  display: flex;
  flex-direction: row; /* Arrange buttons horizontally */
  z-index: 1;
}
